<div class="container">
  <table>
    <tr class="highRow">
      <td>Category</td>
      <td>Category</td>
      <td>Company</td>
      <td>Contact us</td>
      <td>follow us</td>
    </tr>
    <tr class="lowRow">
      <td>Resource</td>
      <td>Product</td>
      <td>Careers</td>
      <td>+1 917 338 2277</td>
    </tr>
    <tr class="lowRow">
      <td>Blog</td>
      <td>Technology</td>
      <td>About</td>
      <td>info@sec.do</td>
    </tr>
    <tr class="lowRow">
      <td>News</td>
      <td>Partners</td>
      <td>Support</td>
    </tr>
  </table>
</div>
<div class="social">
        <br/>
        <img src="../../assets/social/linkedin.png" class="innerLogo">
        <img src="../../assets/social/rectangle-17.png">
        <img src="../../assets/social/faacebook.png" class="innerLogo">
        <img src="../../assets/social/rectangle-17.png">
        <img src="../../assets/social/twitter.png" class="innerLogo">
        <img src="../../assets/social/rectangle-17.png">
</div>
<div class="sub-container">
  <hr class="footerHR">
  <table class="sub-table">
    <tr class="subRow">
      <td>Privacy Policy</td>
      <td>Terms of Use</td>
      <td>© 2017 Cyber Secdo Ltd</td>
    </tr>
  </table>
</div>
