<div class="container">
  <div class="mainCards">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>
          <img src="../../assets/combined-shape.png">
        </mat-card-title>
        <mat-card-subtitle>
          <hr>
          <h1>Next Generation Incident Response</h1>
          <hr><br/>
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/cardone.png">
      <div class="sub-title">White Paper</div>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>
          <img src="../../assets/combined-shape.png">
        </mat-card-title>
        <mat-card-subtitle>
          <hr>
          <h1>Detecting and Blocking Ransomware</h1>
          <hr><br/>
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/cardtwo.png">
      <div class="sub-title">Video</div>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>
          <img src="../../assets/combined-shape.png">
        </mat-card-title>
        <mat-card-subtitle>
          <hr>
          <h1>Secdo Platform Data Sheet</h1>
          <hr><br/>
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/cardthree.png">
      <div class="sub-title">Data Sheet</div>
    </mat-card>
  </div>
</div>
