<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="menu-spacer"></span>
    <div class="toolbar">
      <a mat-button> Approach </a>
      <a mat-button> Product </a>
      <a mat-button> Customers </a>
      <a mat-button> Partners </a>
      <a mat-button> Company </a>
      <button class="demo-btn" style="margin-top: 55px !important;">request a demo</button>
      <img class="logo" src="../assets/combined-shape@2x.png">
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span class="Resources">Resources
      <br/><hr style="color: #ff5a52;border: none;background-color: #ff5a52;width: 20px;height: 2px;"></span>
  </mat-toolbar-row>
</mat-toolbar>
<app-forms></app-forms><br/><br/><br/><br/><br/><br/>
<app-home></app-home>
<app-about style="margin: 0 auto;"></app-about>
<app-contact></app-contact>
<app-footer></app-footer>

