<div class="container">
  <div class="subtool">
<mat-tab-group>
  <mat-tab class="labelC" style="  font-size: 15px;" label="All"></mat-tab>
  <mat-tab class="labelC" label="White Papers"></mat-tab>
  <mat-tab class="labelC" label="Ebooks"></mat-tab>
  <mat-tab class="labelC" label="Videos"></mat-tab>
  <mat-tab class="labelC" label="Data Sheets"></mat-tab>
  <mat-tab class="labelC" label="Case Studies"></mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <button class="s_btn" type="submit"><p><i class="fa fa-search" style="color: #4e80f5"></i>  Search Resources</p></button>

    </ng-template>
  </mat-tab>
</mat-tab-group></div>
</div>

